<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title>Inscription</mat-card-title>

  <mat-card class="form-card" formGroupName="personalInfo">
    <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" formControlName="firstName">
        <mat-error>Champ requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error>Champ requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Comment préférez-vous être contacté(e) ?</mat-card-subtitle>
    <mat-radio-group [formControl]="contactPreferenceCtrl">
      <mat-radio-button value="email">Mail</mat-radio-button>
      <mat-radio-button value="phone">Téléphone</mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <ng-container *ngIf="showEmailCtrl$ | async">
    <mat-card class="form-card" [formGroup]="emailForm">
      <mat-card-subtitle>Email</mat-card-subtitle>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Adresse mail</mat-label>
          <input matInput type="text" formControlName="email">
          <mat-error *ngIf="emailForm.get('email')?.errors">{{ getFormControlErrorText(emailForm.get('email')) }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmer votre adresse mail</mat-label>
          <input matInput type="text" formControlName="confirm">
          <mat-error *ngIf="emailForm.get('confirm')?.errors">{{ getFormControlErrorText(emailForm.get('confirm')) }}</mat-error>
        </mat-form-field>
      </div>
      <small class="error-text" *ngIf="showEmailError$ | async">Les deux adresses ne correspondent pas</small>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="showPhoneCtrl$ | async">
    <mat-card class="form-card">
      <mat-card-subtitle>Téléphone</mat-card-subtitle>
      <mat-form-field appearance="fill">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput type="text" [formControl]="phoneCtrl">
        <mat-error *ngIf="phoneCtrl.hasError('required')">{{ getFormControlErrorText(phoneCtrl) }}</mat-error>
    <mat-error *ngIf="phoneCtrl.hasError('pattern')">Format invalide</mat-error>
        <mat-error *ngIf="phoneCtrl.hasError('minlength')">{{ getFormControlErrorText(phoneCtrl) }}</mat-error>
        <mat-error *ngIf="phoneCtrl.hasError('maxlength')">{{ getFormControlErrorText(phoneCtrl) }}</mat-error>
      </mat-form-field>
    </mat-card>
  </ng-container>

  <mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card-actions *ngIf="mainForm.valid">
    <button mat-flat-button color="primary"
            (click)="onSubmitForm()"
            [disabled]="loading">ENREGISTRER</button>
</mat-card-actions>
<mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner>
</mat-card>
